@import "tailwindcss";

body {
	font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

.font-mono {
	font-family: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace !important;
}
