#nicoImage{
    max-width: 300px;
    border-radius: 50%;
    filter: drop-shadow(2px 3px 7px);
}

#name{
    color: #9920F9;
}

#homeInfo{
    max-width: 650px;
    text-align: center;
}

.mediaLogoHome{
    height: 65px;
    transition: .5s;
}

.mediaLogoHome:hover{
    scale: 1.2;
    filter: drop-shadow(0 0 7px #9720f9d3);
}