@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

:root {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    background: linear-gradient(#D9D9D9, #d3d3d3);
}
